{% extends 'base.html' %}
{% block content %}
{% if form.is_bound %}
    <div class="alert alert-info" role="alert">
        Wszystkie pola tekstowe są wymagane
    </div>
{% endif %}
{% if resend %}
<form method='post', action='resend' enctype="multipart/form-data">
{% else %}
<form method='post', action='/inbox/messages/' enctype="multipart/form-data">
{% endif %}
    {% csrf_token %}
        {% if reply %}
        <div class="form-group row">
            <label for="subject" class="col-sm-2 col-form-label">Temat</label>
            <div class="col-sm-10">
                <input  value="RE: {{reply.subject}}" name='subject' class="form-control" id="subject"  />
            </div>
        </div>
        <div class="form-group row">
            <label for="recivers" class="col-sm-2 col-form-label">Odbiorca</label>
            <div class="col-sm-10">
                <select name='recivers' class='form-control' id='recivers' multiple='multiple' >
                        <option selected="selected" value={{reply.sender.id}}>{{reply.sender}}</option>
                </select>
                
            </div>
        </div>   
        {% else %}
        <div class="form-group row">
                <label for="subject" class="col-sm-2 col-form-label">Temat</label>
                <div class="col-sm-10">
                    <input name='subject' class="form-control" id="subject"  />
                </div>
            </div>
            <div class="form-group row">
                <label for="recivers" class="col-sm-2 col-form-label">Odbiorca</label>
                <div class="col-sm-10">
                    <select name='recivers' class='form-control' id='recivers' multiple='multiple' >
                        </select>
                </div>
            </input>
            </div>
        {% endif %}
        {% if resend %}
        <div class="form-group row">
            <label for="body" class="col-sm-2 col-form-label">Treść</label>
            <div class="col-sm-10">
                <textarea type='text' name='body' class="form-control" id="body" >{{resend.body}}</textarea>
            </div>
        </div>
        {% else %}
        <div class="form-group row">
            <label for="body" class="col-sm-2 col-form-label">Treść</label>
            <div class="col-sm-10">
                <textarea type='text' name='body' class="form-control" id="body" ></textarea>
            </div>
        </div>
        {% endif %}
        <div class="form-group row">
            <label for="attachments" class="col-sm-2 col-form-label">Załączniki</label>
            <div class="col-sm-10">
                <label id='filesuploader' class="btn btn-default"> Wybierz pliki
                <input type='file' data-buttonText="Your label here." name='file_object' class="form-control" id="file_object" multiple hidden/>
                </label>
                {% if resend %}
                    <p>Dodane załączniki</p>
                    {% for attach in attachment %}
                    <a href="{{ attach.file_object.url}}">{{attach.file_object.name}} </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Wyślij</button>
            </div>
        </div>
    </form>
{% endblock %}